<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WsClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<WsClient.Properties.Settings>
			<setting name="DataFolder" serializeAs="String">
				<value>C:\wsMails\msgMail</value>
			</setting>
			<setting name="StoreFolder" serializeAs="String">
				<value>C:\tmpStore</value>
			</setting>
			<setting name="zdkFile" serializeAs="String">
				<value>C:\tmp\zKey.txt</value>
			</setting>
			<setting name="WsServer_URL" serializeAs="String">
				<value>http://10.1.41.102:81/nexch/services/ZANTAZ_StoreAndRetrieveService</value>
			</setting>
			<setting name="CertSubjectName" serializeAs="String">
				<value>C=US,S=California,L=San Francisco,O=Autonomy,OU=SE,CN=SE,E=sam.yan@autonomy.com</value>
			</setting>
			<setting name="DataFile" serializeAs="String">
				<value>Z:\WorkingFolder\ALL\ALL_1.EML</value>
			</setting>
			<setting name="MdeFile" serializeAs="String">
				<value>Z:\WorkingFolder\mde\mde0.txt</value>
			</setting>
		</WsClient.Properties.Settings>
	</userSettings>
	<microsoft.web.services2>
		<messaging>
			<maxRequestLength>1000000</maxRequestLength>
		</messaging>
		<security>
			<x509 storeLocation="CurrentUser"/>
		</security>
		<diagnostics>
			<policyTrace enabled="false"/>
			<detailedErrors enabled="false"/>
			<trace enabled="false"/>
		</diagnostics>
	</microsoft.web.services2>
	<startup/></configuration>
